.Footer-container{
    display: flex;
    background-color: #b7473f;
    justify-content: space-around;;
    padding: 30px;
    text-align: left;
    color:white
    /* width: 200px; */
}

.Footer-bottom{
    padding: 30px;
    background-color:  #b7473f;
    color:white;
}
